.lead__title {
  display: flex;
  max-width: 720px;
  max-height: 200px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  color: white;
  margin: 48px auto 0;
  font-family: Inter;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1279px){
  .lead__title{
    margin-top: 56px;
  }
}
