.intro__text {
  display: flex;
  max-width: 984px;
  min-width: 984px;
  max-height: 208px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  color: white;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  padding-right: calc(984px - 690px);
}

@media screen and (max-width: 1279px) {
  .intro__text {
    max-width: 928px;
    min-width: 928px;
    padding-right: calc(928px - 690px);
  }
  
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
    min-width: 0px;
    margin-bottom: 88px;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    min-width: 0px;
    max-height: 520px;
    margin-bottom: 88px;
    margin: auto;
    padding: 0;
  }
}