.intro__text {
  display: flex;
  width: calc(100% - 296px);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  color: white;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  padding-right: calc(100% - 296px - 690px);
}

@media screen and (max-width: 1279px) {
  .intro__text {
    width: calc(100% - 96px);
    padding-right: calc(100% - 690px - 96px);
  }
  
}

@media screen and (max-width: 1023px) {
  .intro__text {
    width: 100%;
    margin: 0 0 33px 0;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}