.places__url-text {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  display: flex;
  text-align: left;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #AAAAAA;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .places__url-text {
    margin-left: 16px;
  }
}