.lead__caption {
  display: flex;
  margin: 8px auto 92px;
  width: calc(100% - 296px);
  justify-content: space-between;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400px;
  letter-spacing: 1.5px;
  color: white;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    width: calc(100% - 96px);
    margin: 8px auto 92px;
  }
  
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    width: 100%;
    margin: 8px auto 88px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    width: 100%;
    margin: 8px auto 64px;
    padding-left: 16px;
  }
}